/* Root */
:root {
    --background-color: #FFF;
    --background-color-sidebar: #F5F5F5;
    --background-color-board: #fdfdfd;
    --background-color-chat: #fdfdfd;
    --border-color: rgba(0, 0, 0, 0.075);
    --font-color: #303030;
    --primary: #00adff !important;
    --blue: #00adff !important;
    --green: #0F9D58 !important;
    --yellow: #F4B400 !important;
    --red: #DB4437 !important;
    --gray: #ced4da !important;
}

.canvas {
    touch-action: none !important;
}

/* Customize Scrollbar */
body::-webkit-scrollbar {
    background-color: #fff !important;
    width: 16px !important;
}
body::-webkit-scrollbar-track {
    background-color: #fff !important;
}
body::-webkit-scrollbar-thumb {
    background-color: red !important;
    border-radius: 16px !important;
    border: 4px solid #fff !important;
}
.scroller {
    overflow-y: scroll !important;
    scrollbar-color: #0A4C95 #C2D2E4 !important;
  }
.scroll {
    width: 30%;
    height: 100px;
    border: 1px solid grey;
    overflow: scroll;
    display: inline-block;
}
.scroll-width-auto {
    scrollbar-width: auto;
}
.scroll-width-thin {
    scrollbar-width: thin;
}
.scroll-width-none {
    scrollbar-width: none;
}

/* Override Bootstrap */
.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}
.form-control {
    background-color: #eaeaea !important;
    border: none !important;
}
.form-control:focus {
    border-color: var(--primary) !important;
    box-shadow: none !important;
}
.modal-content {
    border: none !important;
}
input,
button {
    border-radius: 10px !important;
}

.modal-content {
    border: none !important;
    border-radius: 10px !important;
}

/* Font */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: local('Nunito Light'), local('Nunito-Light'), url(static/fonts/Nunito-Light.ttf) format('woff2');
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(static/fonts/Nunito-Regular.ttf) format('woff2');
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: local('Nunito Bold'), local('Nunito-Bold'), url(static/fonts/Nunito-Bold.ttf) format('woff2');
}

* {
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold !important;
}

/* Main */
main {
    display: flex !important;
    flex: 1;
}
@media only screen and (max-width: 992px) {
    main {
        margin-left: 0;
    }
}
@media only screen and (max-width: 768px) {
    main {
        margin-left: 0;
    }
}

/* Layout */
.layout {
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
}

/* Overlay */
.backdrop {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
}
.backdrop.visible {
    pointer-events: initial;
}
.backdrop.visible .backdrop-spinner {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    height: 100px;
    width: 100px;
    margin: 0px auto;
    border: 8px solid var(--primary);
    border-top-color: rgba(0, 0, 0, 0);
    border-radius: 100%;
    animation: rotation .6s infinite linear;
}
.backdrop .backdrop-logo {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
}
.backdrop .backdrop-balls {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
}
.backdrop .backdrop-balls .backdrop-ball {
    margin: 0px 5px;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    animation: bouncedelay 3.0s infinite cubic-bezier(.62, .28, .23, .99) both;
    z-index: 10;
}
.backdrop .backdrop-balls .backdrop-ball:after {
    content: ' ';
    width: 0px;
    height: 0px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    animation: bouncedelay 3.0s infinite cubic-bezier(.62, .28, .23, .99) both;
    z-index: 0;
}

.backdrop .backdrop-balls .backdrop-ball:nth-of-type(1):after,
.backdrop .backdrop-balls .backdrop-ball:nth-of-type(1) {
    animation-delay: -.24s;
}
.backdrop .backdrop-balls .backdrop-ball:nth-of-type(2):after,
.backdrop .backdrop-balls .backdrop-ball:nth-of-type(2) {
    animation-delay: -.16s;
}
.backdrop .backdrop-balls .backdrop-ball:nth-of-type(3):after,
.backdrop .backdrop-balls .backdrop-ball:nth-of-type(3) {
    animation-delay: -.08s;
}
  
@keyframes bouncedelay {
    0% {
        bottom: 0;
        background-color: var(--blue);
    }
    16.66% {
        bottom: 40px;
        background-color: var(--gray);
    }
    33.33% {
        bottom: 0px;
        background-color: var(--gray);
    }
    50% {
        bottom: 40px;
        background-color: var(--gray);
    }
    66.66% {
        bottom: 0px;
        background-color: var(--gray);
    }
    83.33% {
        bottom: 40px;
        background-color: var(--blue);
    }
    100% {
        bottom: 0;
        background-color: var(--blue);
    }
}

/* Animation */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/* Transitions */
.fade-in {
    opacity: 1;
    transition: opacity 1.0s;
}
.fade-out {
    opacity: 0;
    transition: opacity 1.0s;
}

/* SVG */
.svg {
    fill: #fff;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}

/* QR */
.qr-code-container {
    width: 100%;
    display: flex;
    align-items: center;
}
.qr-code {
    margin: 0 auto;
    padding: 20px;
}

/* Auth */
.auth-header {
    text-align: center;
}